
<div id="wrapper" class="container">
  <div class="exclamation">
    <h1><%= '<%=' %> <%= 'title' %> <%= '%' %><%= '>' %></h1>
    <h6>It worked</h6>
  </div>

  <div class="explantion">
    <h2><%= humanAppname %></p>

    <h3>Things to know about your app's structure:</h3>

    <pre>
    .
    ├── bin/    <span class="comments">// contains your start scripts.  www and dev. </span>
    ├── config/ <span class="comments">// special configuration options.</span>
    |              <span class="comments">allows override by environment vars.</span>
    ├── controllers/ <span class="comments">// logic for your api or whatever app you're building. </span>
    ├── routes/      <span class="comments">// express style routers go here. receive and send data. </span>
    ├── services/    <span class="comments">// configuration for different services the app uses. </span> 
    |                   <span class="comments">database, authentication, etc. </span>
    ├── views/ <span class="comments">// contains jade file templates for your server rendered html. </span>
    ├── ui     <span class="comments">// contains all front end code. </span>
    |   ├── styles/ <span class="comments">// the less. </span>
    |   └── scripts <span class="comments">// the js. </span>
    |       ├── models/      <span class="comments">// these next 4 directories are your standard</span>
    |       ├── collections/ <span class="comments">// backbonejs components. </span>         
    |       ├── templates/   
    |       ├── views/    
    |       └── router.js    <span class="comments">// edit this to add more "pages"</span>
    |                           <span class="comments">to your single "page" app.</span>
    ├── gulp/          <span class="comments">// has your tasks and config broken out in files. </span>
    ├── {appname}.json <span class="comments">// contains your app configurations. </span>
    └── app.js         <span class="comments">// initializes your app. </span>
    </pre>
  </div>
</div>
